@font-face {
  font-family: "font-1";
  src: url(./assets/font/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/font/Roboto/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

body {
  background: rgb(146, 69, 61);
}

a {
  text-decoration: none;
}

.bg {
  background: url(./assets/img/platter-2009590_1920.jpg) center/cover;
  height: 95vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg h1 {
  text-align: center;
  font-family: "font-1";
  color: rgb(228, 241, 230);
  font-weight: lighter;
  font-size: 5rem;
  letter-spacing: 3px;
}
.bg h2 {
  text-align: center;
  font-family: "font-1";
  color: rgb(228, 241, 230);
  font-weight: lighter;
  font-size: 3rem;
}

#btn {
  margin-top: 50px;
  padding: 15px 30px;
  background: #50341d;
  border-radius: 10px;
  border: none;
  font-family: "font-2";
  font-weight: bolder;
  color: wheat;
  outline-style: none;
  transition: 0.2s;
  cursor: pointer;
  border: 2px solid wheat;
}

#btn:hover {
  background: wheat;
  color: #50341d;
  border: 2px solid #50341d;
}

#meal h2 {
  margin-top: 50px;
  font-family: "font-2";
  color: wheat;
  font-weight: lighter;
  font-size: 2rem;
}

#area p {
  font-family: "font-2";
  color: rgba(245, 222, 179, 0.664);
  margin-bottom: 30px;
}

#photo img {
  border-radius: 30px;
  margin-bottom: 50px;
}

#instru p {
  margin: 0 20%;
  text-align: justify;
  font-family: "font-2";
  color: wheat;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 40px;
}

#video {
  margin-bottom: 30px;
}

.footer {
  height: 5vh;
  background: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul {
  display: flex;
}

.footer a {
  color: #50341d;
  padding: 10px;
  font-size: 1.8rem;
}

.footer a:hover {
  color: #ac7e59;
}

@media screen and (max-width: 1000px) {
  #video {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  #photo img {
    height: 400px;
  }
  #instru p {
    margin: 0 10%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  #photo img {
    height: 300px;
  }
  #instru p {
    margin: 0 10%;
    margin-bottom: 30px;
  }
}
